<div class="modal" *ngIf="showModal">
  <div class="modal-content">
    <h2>Carrito de compras</h2>
    <ul class="modal-list">
      <li *ngFor="let item of cartItems" class="modal-item">
        <div class="caja">
          <div class="c_one">{{ item.name }}</div>
          <div class="c_dos">
            <span>{{ item.price | currency:'USD':'symbol':'1.0-0' }}</span>
            <div class="botones">
              
              <button (click)="removeProduct(item)" >x</button>
            </div>
          </div>
        </div>
      </li>
    </ul>
    <button (click)="closeModal()">Cerrar</button>
  </div>
</div>
