.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal-content {
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  width: 70%;
  min-width: 300px;
  max-width: 500px;
}

.modal-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.modal-item {
  padding: 10px 0;
  border-bottom: 1px solid #ccc;
}

.caja {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.c_one {
  flex: 2;
  text-align: left;
}

.c_dos {
  flex: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.botones button {
  margin-left: 5px;
  padding: 5px 10px;
}


.sumatoria{
  display: flex;
  padding-top: 20px;
  margin-top: 15px;
  justify-content: space-between;
  padding: 5px;
  margin-bottom: 20px;
  border-radius: 5px;
  background-color: rgba(255, 179, 0, 0.738);

}

.tttt2{
  padding-left: 50px;
  margin-left: 100px;
}

.comprarbutton{
  margin-bottom: 5px;
  border-radius: 5px;
  background-color: rgba(87, 168, 7, 0.625);
}


.cerrarbottton{
  color: rgb(255, 255, 255);
  background-color: rgba(210, 25, 25, 0.975);
  border-radius: 5px;
}