form {
    margin: 35px;
}

.largo_formulario{
    
    width: 300px;
    height: 300px;
}

.caja1{ 
    display: flex;
    align-items: center;
    justify-content: center;
}

/* You can add global styles to this file, and also import other style files */
.ng-valid:not(form).ng-touched {
    border-left: 5px solid #43d54a;
  }
  
  .ng-invalid:not(form).ng-touched {
    border-left: 5px solid #f92027;
  }