.productos{
    display: flex;
    
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding-top: 20px;
    max-width: 1000px;
    max-height: 800px;
    overflow-y: auto;
}


.contine-productos{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding-top: 20px;
    width: 100%;
}
.cards{
    padding: 8px;
    margin: 5px;
    border: 2px solid  #FBA83C;
    background-color: #F8F9FA;
    border-radius: 5px;
}

.imagen {
    width: 180px;
    height: 150px;
    
    overflow: hidden; /* Para asegurarte que la imagen no se salga del div */
}

.imagen img {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Ajusta la imagen para cubrir el div sin deformarse */
    display: block; /* Evita que el img se comporte como inline-block y se desplace */
}

.boton{
    background-color: #FFD004;
    border-radius: 10px;
    margin-left: 30px;
    border: 1px solid rgb(255, 255, 255);
    width: 120px;
    height: 35px;
}   


.lupa{
    display: flex;    
    justify-content: center;
    flex-wrap: wrap;
    padding-top: 20px;   
}

.lupaa{
    border-radius: 10px;
    padding: 5px;
    border: 3px solid #FBA83C;
}


.somos{
    display: flex;
    
    justify-content: space-around;
    flex-wrap: wrap;
    padding-top: 20px;
}

.imagefarma{
    padding-top: 80px;
    padding-bottom: 80px;
}


.somos {
    background-image: url('../../../assets/Farmacia2.png');
    background-size: cover; /* Ajusta el tamaño de la imagen al contenedor */
    background-position: center; /* Centra la imagen */
    width: 100%; /* Ajusta el ancho */
    height: 300px; /* Ajusta la altura según lo que necesites */
    position: relative; /* Necesario para colocar el texto encima */
    margin-top: 80px; /* Agrega el espacio que necesitas arriba */
    padding-bottom: 150px; /* Puedes mantener el padding-bottom si lo necesitas */
    overflow-y: scroll;
  }
  
  
  .somos .content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); /* Centra el texto */
    color: white; /* Cambia el color del texto */
    text-align: center;
    font-size: 20px; /* Tamaño del texto */
    
   
  }

  .somos .content  {
    font-size: 15px;
    width: 90%;
    color: rgb(21, 21, 21);
    padding-top: 100px;
   
}

.somos .content p  {
    padding-top: 80px;
   
    padding-bottom: 50px;
}

.tercero{
    width: 100%; /* Ajusta el ancho */
    height: 70px;
}