header{
    /* background: url(https://media.istockphoto.com/id/1895437842/es/foto/vista-con-dron-de-north-fork-highway-en-el-bosque-nacional-shoshone-wyoming.jpg?s=612x612&w=0&k=20&c=PFmYokOMaPGLVQQfPYRPQ_HIDrHeXT3egSHdiXea4Yw=); */
   
    background: rgb(251, 168, 60);
    
    background-size: cover;
    color: aliceblue !important ;
   
}


header.div.h1{
    color: rgb(21, 2, 2);
}

.rbt{
    width: 200px;
    height: 200px;    
    background: url('/assets/rabit.webp') no-repeat center center;
    
    background-size: cover;
}

.continn{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 35px;
}


.negro{
    font-weight: 400;
    color: #000;
}

.negro2{
    color: #000;
    font-weight: 500;
    font-size: 18px;
}