
<div class="identificador" >
    <p> Bienvenido   <b>  {{name}} </b> </p> 
</div>

<div class="productos">
    
    <div class="lista"  >
        
        <table>
            <!-- Cabecera de la tabla -->
            <thead>
              <tr>
                <th>Id</th>
                <th>Nombre</th>
                <th>Precio</th>
                <th>Stock</th>
                <th>Activo</th>
                <th class="dominio">Productos</th>                
              </tr>
            </thead>
    
            <tbody>
                <!-- Aquí usamos *ngFor para recorrer la lista de productos -->
                <tr *ngFor="let producto of productsData">
                    <td>{{ producto.productId }}</td>
                    <td>{{ producto.name }}</td>
                    <td>{{ producto.price | currency }}</td>
                    <td>{{ producto.stock }}</td>
                    <td>{{ producto.active ? 'Sí' : 'No' }}</td>
                    <td>
                      <button class="btn-editar">Editar</button>
                      <button class="btn-desactivar">Desactiva</button>
                    </td>
                  </tr>
              </tbody>
            </table>    
    
        
    </div>
</div>

