.container-stock{
    width: 100%;
    display: flex;    
    justify-content: center;
        
    height: 600px;
    padding-top: 50px;
    background-color: rgb(255, 255, 255);
}

.onec{
    width: 60%;
    
    height: 350px;
    border-radius: 5px;
    background-color: rgb(0, 0, 0);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 15px;
    color: aliceblue;
    padding-top: 30px;
}   

.forproducts{
    width: 80%;
    
    border-radius: 15px;
    background-color: rgb(252, 154, 33);
    padding-top: 10px;
}

.charts{
    padding-top: 15px;
    padding-left: 15px;
    background-color: rgb(2, 2, 2);
    margin-left: 40px;
    margin-right: 40px;
    border-radius: 5px;
}   