<div class="contain">
    <div class="identificador">
        <div class="uno">
            <button class="boton-negro" >
              <p routerLink="/barra/admin" >
                Productos 
              </p>
            </button>

            <button class="boton-negro" width="388px"  >
              <p routerLink="/barra/categoria" >
                <img src="../../../assets/manos.png" alt="" width="35px"  >
              </p>
              
            </button> 
              
              
        </div>
      

      <div class="dos">
        <p>
            Bienvenido <b> {{ name }} </b>
        </p>
      </div>
    
    </div>
</div>

<router-outlet>
    
</router-outlet>
