.identificador {
    display: flex;
    justify-content: space-between;
    padding-right: 20px;
    padding-top: 10px;
    align-items: center;
    background-color: rgb(245, 162, 9);
    height: 80px;
    width: 100%;
  }
  
  .contain {    
    display: flex;
    flex-direction: column;
    align-items: center; /* Asegura que el contenido esté centrado */
    overflow-x: auto; /* Mantiene el scroll horizontal si es necesario */
    width: 100%;
    
  }
  
  .dos{
    display: flex;
    align-items: center;
    height: auto;
  }

  .uno{
    display: flex;
    align-items: center;
    height: auto;
  }

  .uno p {
    margin: 8px;
  }

  .boton-negro {
    background-color: black;
    color: rgb(255, 255, 255);
    margin: 5px;
    border-radius: 5px;
  }