<nav class="navbar navbar-expand-lg bg-body-tertiary"  >
  <div class="container-fluid">
    <a class="navbar-brand" href="#"></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarNav">
      <!-- Contenedor de los items con flexbox -->
      <ul class="navbar-nav w-100 d-flex abajo ">
        <li class="nav-item">
          <a class="nav-link active" routerLink="/productos">Galeria</a> 
        </li>

        <!-- Los elementos de login/logout se agrupan en un div para empujarlos al final -->
        <div class="ms-auto d-flex align-items-center">
          <li class="nav-item" *ngIf="!userLoginOn">
            <a class="nav-link" routerLink="/iniciar-sesion">
              <img src="../../../assets/Ccerrado.JPG" alt=""  height="35px" >
            </a>
          </li>
          


          <li class="nav-item" *ngIf="userLoginOn && !isCurrentRoute('/admin')">
            <a class="nav-link" routerLink="/barra/admin">
              <img src="../../../assets/flecha.png" alt="" width="35px"  >
            </a>
          </li>
          



          <li class="nav-item" *ngIf="userLoginOn" (click)="logout()">
            <a class="nav-link" routerLink="/productos">
              <img src="../../../assets/Cabierto.JPG" alt="" width="25px" height="35px" >
            </a>
          </li>
        </div>
      </ul>
    </div>
  </div>
</nav>
