/* Estilos generales para el modal */
.mat-dialog-container {
    background-color: #db2929; /* Fondo más claro */
    padding: 30px;
    border-radius: 10px; /* Esquinas redondeadas */
    box-shadow: 0 8px 16px rgba(255, 230, 5, 0.472); /* Sombra para un efecto 3D */
    margin: 30px;
  }
  
  /* Estilo del título */
  h2 {
    font-size: 1.8rem;
    font-weight: bold;
    margin-bottom: 20px;
    text-align: center;
    color: #333;
  }
  
  /* Estilos de los campos del formulario */
  .mat-form-field {
    width: 100%; /* Asegura que el input ocupe el ancho completo */
    margin-bottom: 20px;
  }
  
  .mat-form-field input {
    padding: 10px; /* Más espacio interno */
    font-size: 1rem;
  }
  
  /* Estilo de los botones */
  .button-container {
    display: flex;
    justify-content: space-around; /* Espacio entre los botones */
    padding: 10px;
    margin: 10px;
  }
  
  button {
    min-width: 120px; /* Asegura que los botones tengan tamaño similar */
  }
  
  button[type="submit"] {
    background-color: #ffb730; /* Botón "Guardar" en verde */
    color: white;
  }
  
  button[type="submit"]:hover {
    background-color: #45a049; /* Cambia el color al pasar el ratón */
  }
  
  button[type="button"] {
    background-color: #000000; /* Botón "Cancelar" en rojo */
    color: white;
  }
  
  button[type="button"]:hover {
    background-color: #e53935;
  }
  

  .mat-form-field.mat-focused .mat-form-field-ripple {
    background-color: transparent; /* Elimina el color de la línea inferior */
  }
  
  /* Elimina el borde verde en el input cuando es válido */
  .mat-form-field.mat-focused.mat-form-field-underline .mat-form-field-underline {
    background-color: transparent; /* Elimina la línea inferior */
  }
  
  /* Cambiar el color del texto cuando el campo es válido */
  .mat-form-field.mat-focused .mat-input-element {
    color: inherit; /* Mantiene el color original del texto */
  }
  
  /* Elimina el color verde en la etiqueta del input */
  .mat-form-field.mat-focused .mat-form-field-label {
    color: inherit; /* Mantiene el color original de la etiqueta */
  }

  .mat-form-field.mat-focused .mat-icon {
    color: inherit;
  }


  .mat-form-field.mat-focused .mat-form-field-ripple {
    background-color: blue;
  }
  
  .mat-form-field.mat-focused .mat-input-element {
    color: blue;
  }